body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button#google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #67d6cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button#google-login:hover {
  background-color: #66cccc;
}
button#google-login:active {
  background-color: #66c6c6;
}

button#login {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #000000;
  border: 1px solid #000000;
  color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

button#login:hover {
  background-color: #777;
  color: #fff;
}
button#login:active {
  background-color: #666;
}

p#draw-line {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

p span {
  background: #fff;
  padding: 0 10px;
}

.login-form {
  user-select: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
  text-align: center;
}

#google-logo {
  padding-right: 5px;
  transform: translate(0px, -1px);
}

#login-method-change {
  font-size: smaller;
  color: black;
}
#login-method-change:hover {
  color: gray;
}

#user-profile {
  text-align: center;
}

#user-email {
  margin: 15px 0;
  font-size: 16px;
  color: #333;
}
